<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">RecipeMaker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/pantry}">Pantry</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/shopping}">Shopping</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/history}">History</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/health}">Health</a></li>
            </ul>
            <span class="navbar-text text-white">Weekly Planner</span>
        </div>
    </div>
</nav>
</body>
</html>
